<div class="container">
    <div class="row" style="margin-top: 80px;">
        <div class="design_center_block">
            <h1 class="apply_policy">You are applying for $500,000 of life insurance coverage for 30 years.</h1>
        </div>
        <div class="center-block center-m gry-area color2d3e50" >
            <ul class="progress-indicator" style="margin-top: -1px;">
                <li style="margin-top: 20px; margin-bottom: 20px;">
                    <span class="bubble fa-circle-o">  </span>
                    <a href="#/buy_now" class="steps" style="color: white;">Personal Information</a>
                </li>
                <li style="margin-top: 20px; margin-bottom: 20px;">
                    <span class="bubble fa-circle-o"></span>
                    <a href="#/step2" class="steps" style="color: white;">Policy Details</a>
                </li>
                <li style="margin-top: 20px; margin-bottom: 20px;">
                    <span class="bubble fa-circle-o" style="color: white;"></span>
                    <a href="#/step3" class="steps" style="color: white;">Your Beneficiaries</a>

                </li>
                <li style="margin-top: 20px; margin-bottom: 20px;">

                    <span class="bubble"></span>
                    <a href="#/step4" class="steps" style="color: white;">About You</a>
                </li>
                <li style="margin-top: 20px; margin-bottom: 20px;">
                    <span class="bubble"></span>
                    <a href="#/step5" class="steps" style="color: white;">Your Health</a>
                </li>

                <li style="margin-top: 20px; margin-bottom: 20px;">
                    <span class="bubble"></span>
                    <a href="#/step6" class="steps" style="color: white;">Confirm</a>
                </li>
            </ul>
            <div class="pull-right top0lg" id="legal_gerenal_logo" style="margin-top:-150px;"><img
                    src="views/registration_forms/images/lg.png"></div>
        </div>
    </div>
    <div class="row declaration_row" >
        <div class="container">
            <h2 class="declarationHeader">
                <img src="views/registration_forms/images/lotus.png" height="22px" class="img3">Honesty Declaration</h2>
            <div class="checkbox">
                <label class="checkbox_label"><input type="checkbox" value="">I confirm that I am John Doe</label>
            </div>
            <div class="checkbox">
                <label class="checkbox_label"><input type="checkbox" value="">I promise to answer all questions as honestly and accurately as
                    pissible</label>
            </div>
            <span class="declerationSpan">
               Note that any question you choose not to answer online will be asked during your phone interview.
           </span>
        </div>
        <div class="container">

            <h2 class="authorizationHeader">
                <img src="views/registration_forms/images/arr.png" class="img3">Authorization</h2>

            <span class="agreementHeader">
               I am comfortable answering questions and communicating with Legal & General representatives in English.
        </span>
           <div class="col-md-12">
               <div class="col-md-2">
                   <input type="radio" class="css-checkbox" id="insElsewhereYes" name="radiog_dark_applying_ins">
                   <label class="css-label radGroup2 lable2" for="insElsewhereYes" class="agreementLabel">Agree</label>
               </div>
               <div class="col-md-2">
                   <input type="radio" class="css-checkbox" id="insElsewhereYes" name="radiog_dark_applying_ins">
                   <label class="css-label radGroup2 lable2" for="insElsewhereYes" class="agreementLabel">Disagree</label>
               </div>
           </div>
        </div>
        <hr style="margin-right: 20px; margin-left: 20px;" />
        <span class="auth_ack">In order for us to evaluate your eligibility for life insurance coverage we need to collect certain information about you, including protected health information. Please read this authorization and<br />&nbsp &nbsp acknowledge your acceptance of the terms.</span>
        <h1>&nbsp</h1>


    </div>
    <center><button type="button" class="buttonPersonalInfo" style=" margin-top: -18px;">Personal Information →</button></center>
</div>