<div class="container">
    <div class="row" style="margin-top: 80px;">
        <div class=" design_center_block">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <center><img src="images/check.png"></center>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="design_center_block">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4" style="border-bottom-style: solid; border-bottom-width: 0.2px; color: white;">
                    <center><h1 class="congHeader">Congratulations!</h1></center>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="design_center_block">
            <div class="col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-6" style=" color: white;">
                    <center><h3 class="applicationSubmissionHeader">Your application has been submitted and your policy has been successfully issued.</h3></center>

                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

        <hr />
        <div class="design_center_block">
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8" style=" background-color: white;border-radius: 3px;">
                    <center><h3 class="policydetailheader">All policy details has been sent to your email, <br />and physical copy will be sent to your residential address.</h3></center>
                   <!--<center> <div style="display: inline;"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i><span style="margin-left: 10px;">JohnDoe@gmail.com</span></div><span>|</span>-->
                       <!--<div style="display: inline;"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i><span style="margin-left: 10px;">JohnDoe@gmail.com</span></div></center>-->
                <hr style="width: 459px;" />
                    -<center> <div style="display: inline;"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i><span style="margin-left: 10px;font-family: roboto-light;">JohnDoe@gmail.com</span></div><span style="font-size: 35px; margin-left: 30px; margin-right: 30px;">|</span>
                    <div style="display: inline;"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i><span style="margin-left: 10px;font-family: roboto-light;">JohnDoe@gmail.com</span></div></center>
                    <div><h1>&nbsp</h1></div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="design_center_block">
            <div class="col-md-12">
                <h1>&nbsp</h1>
            </div>
        </div>

    </div>
</div>