<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="views/registration_forms/starter-template.css" rel="stylesheet">
    <!-- <script src="views/registration_forms/jquery_v3_1_1.min.js"></script> -->

</head>

<body class="skin-black">

    <nav class="navbar navbar-inverse navbar-fixed-top top-nav">
        <div class="container-fluid ">
            <div class="navbar-header">
                <img src="views/registration_forms/images/logo.png" class="img"/>
            </div>

            <div class="navbar-right ">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>Jane Doe <i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header bg-light-blue">
                                <img alt="User Image" class="img-circle" src="views/registration_forms/img/avatar3.png">
                                <p>
                                    Jane Doe - Web Developer
                                    <small>Member since Nov. 2012</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a class="btn btn-default btn-flat" href="#">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-default btn-flat" href="#">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container-fluid container-padding">
        <div class="starter-template st1-patop" id="nav_div" style="z-index:1;width:auto;">
            <div class="container-fluid">
            <div class="st1-top">  You are applying for $500,000 of life insurance coverage for 30 years </div>

        </div>
            <div class="center-block center-m gry-area">
                <ul class="progress-indicator">

                    <li class="completed">
                        <span class="bubble fa-circle-o">  </span>
                        <a href="#/buy_now" class="steps">Personal Information</a>
                    </li>
                    <li class="completed">
                        <span class="bubble fa-circle-o"></span>
                        <a href="#/step2" class="steps">Policy Details</a>
                    </li>
                    <li class="completed">
                        <span class="bubble fa-circle-o"></span>
                        <a href="#/step3" class="steps">Your Beneficiaries</a>

                    </li>
                    <li class="completed">

                        <span class="bubble"></span>
                        <a href="#/step4" class="steps">About You</a>
                    </li>
                    <li class="completed">
                        <span class="bubble"></span>
                        <a href="#/step5" class="steps">Your Health</a>
                    </li>

                    <li>
                        <span class="bubble"></span>
                        <a href="#/step6" class="steps">Confirm</a>
                    </li>
                </ul>
                <div class="pull-right top0lg" id="legal_gerenal_logo" style="margin-top:-100px;"> <img src="views/registration_forms/images/lg.png"/> </div>
            </div>
      </div>



        <div class="box panel-eh">
            <div class="row pad-30" style="padding-bottom:50px;">
                <div class="col-xs-10 col-md-offset-1">
                    <div class="box panel-eh">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title top-td">
                                    <img src="views/registration_forms/images/arr.png" class="img3" />
                                    Your Health
                                </h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target="#yourHealthDiv"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="row margin-left">
                                    <div id="yourHealthDiv">
                                        <div class="col-md-12 main_lab">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="lableo">Height (Feet)</label>
                                                    <input type="number" class="form-control" ng-model="height_ft">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="lableo">Height (Inches)</label>
                                                    <input type="number" class="form-control" ng-model="height_in">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="lableo">Weight (lbs)</label>
                                                    <input type="number" class="form-control" ng-model="weight">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 main_lab">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="lableo">Height (Feet)</label>
                                                    <input type="number" class="form-control" ng-model="height_ft">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="lableo">Height (Inches)</label>
                                                    <input type="number" class="form-control" ng-model="height_in">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="lableo">Weight (lbs)</label>
                                                    <input type="number" class="form-control" ng-model="weight">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 main_lab main_row">
                                            <div class="col-md-6 app_row">
                                                <div class="">
                                                    <label class="question">Has your weight changed by over 10 lbs in the last year?</label>
                                                </div>
                                                <div class="">
                                                    <label class="checkbox-inline" style="padding-left:0px;"><input type="radio" value="" name="wg"><span class="rd_lbl">Yes</span></label>
                                                    <label class="checkbox-inline"><input type="radio" value="" name="wg"><span class="rd_lbl">No</span></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-9 main_lab main_row">
                                            <div class="col-md-12 app_row">
                                                <div class="">
                                                    <label class="question">Estimated change in the weight in the last year</label>
                                                </div>
                                                <div class="">
                                                    <div class="col-md-12" style="padding-left:0px;">
                                                        <input type="number" ng-model="est_weight_change" style="width: 100%; max-width: inherit;"
                                                        placeholder="If weigth loss, enter a negative value" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-9 main_lab main_row">
                                            <div class="col-md-12 app_row">
                                                <div class="">
                                                    <label class="question">Reason for weight change</label>
                                                </div>
                                                <div class="">
                                                    <div class="col-md-12" style="padding-left:0px;">
                                                        <input type="text" ng-model="reason_weight_change" style="width: 100%; max-width: inherit;"
                                                        placeholder="Reason" maxlength="200" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- <div class="box-tools pull-right>
                                  <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target="#primaryPhysicalInfoDiv"><i class="fa fa-minus"></i></button>
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box panel-eh">
            <div class="row pad-30" style="padding-bottom:50px;">
                <div class="col-xs-10 col-md-offset-1">
                    <div class="box panel-eh">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title top-td">
                                    <img src="views/registration_forms/images/arr.png" class="img3" />
                                    Primary Physician Information
                                </h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target="#primaryPhysicalInfoDiv"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="row margin-left">
                                    <div id="primaryPhysicalInfoDiv">
                                        <div class="col-md-12 main_lab">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="lableo">Name</label>
                                                    <input type="text" ng-model="physician_name" style="width: 100%; max-width: inherit;" maxlength="50" />
                                                </div>
                                            </div>

                                            <div class="col-md-6">

                                            </div>
                                        </div>
                                        <div class="col-md-9 main_lab main_row">
                                            <div class="col-md-12 app_row">
                                                <div class="">
                                                    <label class="question">Address</label>
                                                </div>
                                                <div class="">
                                                    <div class="col-md-12" style="padding-left:0px;">
                                                        <input type="text" ng-model="reason_weight_change" style="width: 100%; max-width: inherit;"
                                                               placeholder="" maxlength="200" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 main_lab">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="lableo">Telephone</label>
                                                    <input type="number" class="form-control" ng-model="physician_telephone">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="lableo">Date Last Seen</label>
                                                    <input type="date" class="form-control" ng-model="last_seen">
                                                </div>
                                            </div>

                                        </div>


                                        <div class="col-md-9 main_lab main_row">
                                            <div class="col-md-12 app_row">
                                                <div class="">
                                                    <label class="question">Reason last seen and result of visit</label>
                                                </div>
                                                <div class="">
                                                    <div class="col-md-12" style="padding-left:0px;">
                                                        <input type="text" ng-model="reason_weight_change" style="width: 100%; max-width: inherit;"
                                                               placeholder="Reason" maxlength="200" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- <div class="box-tools pull-right>
                                  <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target="#primaryPhysicalInfoDiv"><i class="fa fa-minus"></i></button>
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box panel-eh">
            <div class="row pad-30" style="padding-bottom:50px;">
                <div class="col-xs-10 col-md-offset-1">
                    <div class="box panel-eh">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title top-td">
                                    <img src="views/registration_forms/images/arr.png" class="img3" />
                                    Physician Last Consulted
                                </h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target="#physicianLeadDiv"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="row margin-left">
                                    <div id="physicianLeadDiv">
                                        <div class="col-md-12 main_lab">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <label class="lableo">Name</label>
                                                    <input type="text" ng-model="physician_name" style="width: 100%; max-width: inherit;" maxlength="50" />
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="lableo">Name</label>
                                                    <input type="text" ng-model="physician_name" style="width: 100%; max-width: inherit;" maxlength="50" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9 main_lab main_row">
                                            <div class="col-md-12 app_row">
                                                <div class="">
                                                    <label class="question">Address</label>
                                                </div>
                                                <div class="">
                                                    <div class="col-md-12" style="padding-left:0px;">
                                                        <input type="text" ng-model="reason_weight_change" style="width: 100%; max-width: inherit;"
                                                               placeholder="" maxlength="200" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 main_lab">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="lableo">Telephone</label>
                                                    <input type="number" class="form-control" ng-model="physician_telephone">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="lableo">Date Last Seen</label>
                                                    <input type="date" class="form-control" ng-model="last_seen">
                                                </div>
                                            </div>

                                        </div>


                                        <div class="col-md-9 main_lab main_row">
                                            <div class="col-md-12 app_row">
                                                <div class="">
                                                    <label class="question">Reason last seen and result of visit</label>
                                                </div>
                                                <div class="">
                                                    <div class="col-md-12" style="padding-left:0px;">
                                                        <input type="text" ng-model="reason_weight_change" style="width: 100%; max-width: inherit;"
                                                               placeholder="Reason" maxlength="200" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- <div class="box-tools pull-right>
                                  <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target="#primaryPhysicalInfoDiv"><i class="fa fa-minus"></i></button>
                                </div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- st -->
        <div class="box panel-eh">
            <div class="row pad-30">
            </div>
        </div>
    </div>
    </div>
    <div class="center-m margin-bt20" style="margin-top: -22px;
    margin-bottom: 18px;">

        <input type="button" value="Confirm →" class="button-m" ng-click="confirm()">
    </div>

    <div class="clearfix"></div>

    <!-- button end -->
    </div>


    <!-- st end -->
    </div><!-- /.container -->
    </div>

    <div class="footer main-bg">
        <div class="pull-right">
            <ul class="main-so">
                <li>
                    <img src="views/registration_forms/images/fb.png" />
                </li>
                <li>
                    <img src="views/registration_forms/images/tw.png" />
                </li>
                <li>
                    <img src="views/registration_forms/images/in.png" />
                </li>

                <li>
                    <img src="views/registration_forms/images/g.png" />
                </li>
            </ul>
        </div>
        <div>
            <strong>Copyright</strong> Example Company &copy; 2014-2017
        </div>

        <div class="clearfix"> </div>
    </div>

    <!-- <script>
        $(document).ready(function () {
            $(window).bind('scroll', function () {
                var navHeight = $(window).height() - 460;
                if ($(window).scrollTop() > navHeight) {
                    $('#nav_div').addClass('fixed');
                    $('#nav_div').css('margin-top', "-20px");
                    //$('#legal_gerenal_logo').css('margin-top',"-80px");
                }
                else {
                    $('#nav_div').removeClass('fixed');
                    $('#nav_div').css('margin-top', "0px");
                    //$('#legal_gerenal_logo').css('margin-top',"-80px");
                }
            });
        });
    </script> -->

</body>
</html>
