<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Starter Template for Bootstrap</title>
    <!-- Custom styles for this template -->
    <script src="views/registration_forms/bootstrap.min.js"></script>
    <link href="views/registration_forms/starter-template.css" rel="stylesheet">
    <!-- <script src="views/registration_forms/jquery_v3_1_1.min.js"></script> -->


</head>

<body class="skin-black">

<nav class="navbar navbar-inverse navbar-fixed-top top-nav">
    <div class="container-fluid" style="padding-left: 40px;padding-right: 40px;">
        <div class="navbar-header">
            <img src="views/registration_forms/images/logo.png" class="img"/>
        </div>
        <div class="navbar-right ">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="glyphicon glyphicon-user"></i>
                        <span>Jane Doe <i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header bg-light-blue">
                            <img alt="User Image" class="img-circle" src="views/registration_forms/img/avatar3.png">
                            <p>
                                Jane Doe - Web Developer
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <li class="user-body">
                            <div class="col-xs-4 text-center">
                                <a href="#">Followers</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Sales</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Friends</a>
                            </div>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a class="btn btn-default btn-flat" href="#">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-default btn-flat" href="#">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div></div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid container-padding">
    <div class="starter-template st1-patop" id="nav_div" style="z-index:1;width:auto;">
        <div class="container-fluid">
            <div class="st1-top"> You are applying for $500,000 of life insurance coverage for 30 years</div>

        </div>
        <div class="center-block center-m gry-area">
            <ul class="progress-indicator">
                <li class="completed">
                    <span class="bubble fa-circle-o">  </span>
                    <a href="#/buy_now" class="steps">Personal Information</a>
                </li>
                <li class="completed">
                    <span class="bubble fa-circle-o"></span>
                    <a href="#/step2" class="steps">Policy Details</a>
                </li>
                <li>
                    <span class="bubble fa-circle-o"></span>
                    <a href="#/step3" class="steps">Your Beneficiaries</a>

                </li>
                <li>

                    <span class="bubble"></span>
                    <a href="#/step4" class="steps">About You</a>
                </li>
                <li>
                    <span class="bubble"></span>
                    <a href="#/step5" class="steps">Your Health</a>
                </li>

                <li>
                    <span class="bubble"></span>
                    <a href="#/step6" class="steps">Confirm</a>
                </li>
            </ul>
            <div class="pull-right top0lg" id="legal_gerenal_logo" style="margin-top:-100px;"><img
                    src="views/registration_forms/images/lg.png"/></div>
        </div>
    </div>
    <!-- st -->
    <div class="box panel-eh">
        <div class="row pad-30">
            <div class="col-xs-10 col-md-offset-1">
                <div class="box panel-eh">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title top-td"><img src="views/registration_forms/images/arr.png"
                                                              class="img3"/> Coverage</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-toggle="collapse"
                                        data-target="#coverageDiv"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row margin-left">
                                <div id="coverageDiv">
                                    <div class="col-md-12 main_lab">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="lableo">Amount of Insurance</label>
                                                <input type="number" ng-model="amountOfInsurance"
                                                       class="form-control my-colorpicker1" maxlength="20">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="lableo">Plan of Insurance</label>
                                                <input type="text" ng-model="planOfInsurance"
                                                       class="form-control my-colorpicker1" maxlength="20">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-12 main_lab">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="lableo">Waiver of Premium</label>
                                                <div class="ques">
            <span class="field-tip">
            <img src="views/registration_forms/images/qu.png"/>
            <span class="tip-content">Waiver of premium.</span>
            </span>
                                                </div>
                                                <div class="clearfix"></div>
                                                <table width="80%">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" class="css-checkbox"
                                                                   id="waiverOfPremiumYes"
                                                                   name="radiog_dark_premium_waiver">
                                                            <label class="css-label radGroup2 lable2"
                                                                   for="waiverOfPremiumYes">Yes</label>
                                                        </td>
                                                        <td>
                                                            <input type="radio" checked="checked" class="css-checkbox"
                                                                   id="waiverOfPremiumNo"
                                                                   name="radiog_dark_premium_waiver">
                                                            <label class="css-label radGroup2 lable2"
                                                                   for="waiverOfPremiumNo">No</label>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="lableo">Children's insurance Rider</label>

                                                <div class="ques">
            <span class="field-tip">
            <img src="views/registration_forms/images/qu.png"/>
            <span class="tip-content">Children's insurance rider.</span>
            </span>
                                                </div>


                                                <select class="form-control my-colorpicker1 " style="width: 100%;">
                                                    <option selected="selected">Select</option>
                                                    <option>Number</option>
                                                    <option>One</option>
                                                    <option>Two</option>
                                                    <option>Three</option>
                                                    <option>Four</option>
                                                    <option>Five</option>
                                                    <option>Six</option>

                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- st end -->
    <!-- st -->
    <div class="box panel-eh">
        <div class="row pad-30">
            <div class="col-xs-10 col-md-offset-1">
                <div class="box panel-eh">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title top-td"><img src="views/registration_forms/images/arr.png"
                                                              class="img3"/>Payment</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-toggle="collapse"
                                        data-target="#paymentDiv"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row margin-left">

                                <div id="paymentDiv">
                                    <div class="col-md-12 main_lab">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="lableo">Payment Method</label>
                                                <select class=" form-control my-colorpicker1 " style="width: 100%;">
                                                    <option selected="selected">Select</option>
                                                    <option>NEFT</option>
                                                    <option>CASH</option>
                                                    <option>CREDIT CARD</option>
                                                    <option>DEBIT CARD</option>
                                                    <option>e-Wallet</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="lableo">Payment Frequency</label>
                                                <select class=" form-control my-colorpicker1 " style="width: 100%;">
                                                    <option selected="selected">Select</option>
                                                    <option>Daily</option>
                                                    <option>Weekly</option>
                                                    <option>Monthly</option>
                                                    <option>Yearly</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box panel-eh">
        <div class="row pad-30">
            <div class="col-xs-10 col-md-offset-1">
                <div class="box panel-eh">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title top-td"><img src="views/registration_forms/images/arr.png"
                                                              class="img3"/> Are you currently applying for insurance
                                elsewhere?</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-toggle="collapse"
                                        data-target="#insuElsewhereDiv"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row margin-left">

                                <div id="insuElsewhereDiv">
                                    <div class="col-md-12 main_lab">
                                        <div class="col-md-3">
                                            <table width="80%">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="radio" class="css-checkbox" id="insElsewhereYes"
                                                               name="radiog_dark_applying_ins">
                                                        <label class="css-label radGroup2 lable2" for="insElsewhereYes">Yes</label>
                                                    </td>
                                                    <td>
                                                        <input type="radio" checked="checked" class="css-checkbox"
                                                               id="insElsewhereNo" name="radiog_dark_applying_ins">
                                                        <label class="css-label radGroup2 lable2" for="insElsewhereNo">No</label>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="col-md-12 main_lab">
                                        <div class="col-md-12">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div class="col-md-12 main_lab">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="lableo">Excluding this application. What is the amount of
                                                    insurance currently pending with other companies?</label>
                                                <input type="number" class="form-control" ng-model="pendingAmount"
                                                       id="pendingAmount" style="max-width: 236px;" placeholder="">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- st end -->
    <!-- st -->
    <div class="box panel-eh">
        <div class="row pad-30">
            <div class="col-xs-10 col-md-offset-1">
                <div class="box panel-eh">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title top-td"><img src="views/registration_forms/images/arr.png"
                                                              class="img3"/> Do you currently have insurance with
                                another company?</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-toggle="collapse"
                                        data-target="#currInsotherCompanyDiv"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row margin-left">

                                <div id="currInsotherCompanyDiv">
                                    <div class="col-md-12 main_lab">
                                        <div class="col-md-3">
                                            <table width="80%">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="radio" class="css-checkbox" id="otherInsYes"
                                                               name="radiog_dark_have_insurance">
                                                        <label class="css-label radGroup2 lable2"
                                                               for="otherInsYes">Yes</label>
                                                    </td>
                                                    <td>
                                                        <input type="radio" checked="checked" class="css-checkbox"
                                                               id="otherInsNo" name="radiog_dark_have_insurance">
                                                        <label class="css-label radGroup2 lable2"
                                                               for="otherInsNo">No</label>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="col-md-12 main_lab">
                                        <div class="col-md-12">
                                            <hr/>
                                        </div>
                                    </div>
                                    <div class="col-md-12 main_lab">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="lableo">Company</label>
                                                <input type="text" class="form-control" ng-model="otherInsCompanyName"
                                                       id="otherInsCompanyName" placeholder="" maxlength="50">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="lableo">Policy Number</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                       placeholder="" maxlength="50">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="lableo">Face Amount</label>
                                                <input type="number" class="form-control" id="exampleInputEmail1"
                                                       placeholder="">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-12 main_lab">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="lableo">Business Insurance</label>
                                                <table width="80%">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" class="css-checkbox"
                                                                   id="businessInsuranceYes"
                                                                   name="radiog_dark_businessInsurance">
                                                            <label class="css-label radGroup2 lable2"
                                                                   for="businessInsuranceYes">Yes</label>
                                                        </td>
                                                        <td>
                                                            <input type="radio" checked="checked" class="css-checkbox"
                                                                   id="businessInsuranceNo"
                                                                   name="radiog_dark_businessInsurance">
                                                            <label class="css-label radGroup2 lable2"
                                                                   for="businessInsuranceNo">No</label>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="lableo">Replacing</label>
                                                <table width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" class="css-checkbox" id="raplacingYes"
                                                                   name="radiog_dark_Replacing">
                                                            <label class="css-label radGroup2 lable2"
                                                                   for="raplacingYes">Yes</label>
                                                        </td>
                                                        <td>
                                                            <input type="radio" checked="checked" class="css-checkbox"
                                                                   id="raplacingNo" name="radiog_dark_Replacing">
                                                            <label class="css-label radGroup2 lable2" for="raplacingNo">No</label>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 main_lab">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="lableo">Issue Date</label>
                                                <input type="date" class="form-control" id="issueDate" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="lableo">Beneficiary</label>
                                                <input type="text" class="form-control" id="beneficiary" placeholder=""
                                                       maxlength="50">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
        <!-- button -->
        <div class="center-m margin-bt20">
            <input type="button" ng-click="move_to_your_beneficiary()" value="Your Beneficiaries →" class="button-m ">
        </div>
        <div class="clearfix"></div>
        <!-- button end -->
    </div>

</div><!-- /.container -->
</div>

<div class="footer main-bg">
    <div class="pull-right">
        <ul class="main-so">
            <li>
                <img src="views/registration_forms/images/fb.png"/>
            </li>
            <li>
                <img src="views/registration_forms/images/tw.png"/>
            </li>
            <li>
                <img src="views/registration_forms/images/in.png"/>
            </li>
            <li>
                <img src="views/registration_forms/images/g.png"/>
            </li>
        </ul>
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2017
    </div>
    <div class="clearfix"></div>
</div>


<!-- <script>
    $(document).ready(function () {
        $(window).bind('scroll', function () {
            var navHeight = $(window).height() - 460;
            if ($(window).scrollTop() > navHeight) {
                $('#nav_div').addClass('fixed');
                $('#nav_div').css('margin-top', "-20px");
                //$('#legal_gerenal_logo').css('margin-top',"-80px");
            }
            else {
                $('#nav_div').removeClass('fixed');
                $('#nav_div').css('margin-top', "0px");
                //$('#legal_gerenal_logo').css('margin-top',"-80px");
            }
        });
    });
</script> -->
</body>
</html>
