<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <link href="views/registration_forms/starter-template.css" rel="stylesheet">
    <script src="views/registration_forms/jquery_v3_1_1.min.js"></script>
    <script src="views/registration_forms/bootstrap.min.js"></script>

  </head>

  <body class="skin-black">

    <nav class="navbar navbar-inverse navbar-fixed-top top-nav">
      <div class="container-fluid ">
        <div class="navbar-header">
         <img src="views/registration_forms/images/logo.png" class="img"/>

        </div>

        <div class="navbar-right ">
          <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <i class="glyphicon glyphicon-user"></i>
                  <span>Jane Doe <i class="caret"></i></span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-header bg-light-blue">
                    <img alt="User Image" class="img-circle" src="views/registration_forms/img/avatar3.png">
                    <p>
                        Jane Doe - Web Developer
                        <small>Member since Nov. 2012</small>
                    </p>
                </li>
                <!-- Menu Body -->
                <li class="user-body">
                    <div class="col-xs-4 text-center">
                        <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#">Friends</a>
                    </div>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-left">
                        <a class="btn btn-default btn-flat" href="#">Profile</a>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-default btn-flat" href="#">Sign out</a>
                    </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container-fluid">
      <div class="starter-template st1-patop" id="nav_div" style="z-index:1;width:1180px;">
        <div  class="container-fluid">
          <div class="st1-top">  You are applying for $500,000 of life insurance coverage for 30 years </div>
          <div class="center-block center-m gry-area">
            <ul class="progress-indicator">
                  <li class="completed">
                      <span class="bubble fa-circle-o">  </span>
                      <a href="#/buy_now" class="steps">Personal Information</a>

                  </li>
                  <li class="completed">
                      <span class="bubble fa-circle-o"></span>
                      <a href="#/step2" class="steps">Policy Details</a>
                  </li>
                  <li class="completed">
                      <span class="bubble fa-circle-o"></span>
                    <a href="#/step3" class="steps">Your Beneficiaries</a>

                  </li>
                  <li class="completed">

                      <span class="bubble"></span>
                    <a href="#/step4" class="steps">About You</a>
                  </li>
                  <li class="completed">
                      <span class="bubble"></span>
                    <a href="#/step5" class="steps">Your Health</a>
                  </li>

                   <li class="completed">
                      <span class="bubble"></span>
                    <a href="#/step6" class="steps">Confirm</a>
                  </li>
              </ul>
            <div class="pull-right top0lg" id="legal_gerenal_logo" style="margin-top:-100px;"> <img src="views/registration_forms/images/lg.png"/> </div>
          </div>
        </div>
      </div>

      <!--<div class="box" style="padding-top:2px;background-color: #1bbca0;">
        <div class="box panel-eh">
            <div class="col-md-12" style="    height: 400px;
    background-color: #1abba2;
    display: flex;
    justify-content: center;">-->
          <div class="col-md-12" style="padding-top:2px;background-color: #1bbca0;">
            <div class="row" style="display:flex; justify-content:center;">
              <img src="images/check.png" style="    width: 300px;
    height: 200px;">
            </div>
            <div class="row" style="display:flex; justify-content:center;padding-bottom:30px; ">
              <span style="font-size:30px;color:white; font-weight:300;">Congratulations !</span>
            </div>
            <div class="row" style="display:flex; justify-content:center;color:white">
              <span style="font-size:18px;padding-bottom:40px;">Your application has been submitted and your policy has been issues successfully</span>
            </div>
          </div>
            <!--</div>-->


   <!-- st -->
    <div class="box panel-eh">
      <div class="row pad-30">
      </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

        <!-- button end -->
      </div>


      <!-- st end -->






    </div><!-- /.container -->
  </div>

              </body>
</html>
