@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,500i,700,700i');

input[type="checkbox"]{
	width: 20px;
}
label{
	font-size: 15px !important;
}
.abt-cnt {
	background: #BCCED9;
    padding-bottom: 45px;
    padding-top: 20px;
     font-family: 'Roboto', sans-serif;
}

.abt-inner{

    background: #fff;
}

.abt-header {
	background: -moz-linear-gradient(180deg, rgba(9,136,187,1) 0%, rgba(26,166,124,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(26,166,124,1)), color-stop(100%, rgba(9,136,187,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(180deg, rgba(9,136,187,1) 0%, rgba(26,166,124,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(180deg, rgba(9,136,187,1) 0%, rgba(26,166,124,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(180deg, rgba(9,136,187,1) 0%, rgba(26,166,124,1) 100%); /* ie10+ */
background: linear-gradient(270deg, rgba(9,136,187,1) 0%, rgba(26,166,124,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1AA67C', endColorstr='#0988BB',GradientType=1 ); /* ie6-9 */
    padding: 10px 0;

}

.abt-header h3 {
    color: #fff;
    margin: 5px 10px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    padding: 3px 0px;
}
.abt-header div.progress-indi {
	    background: #333;
	    /* padding: 10px; */
	    text-align: center;
	    color: #fff;
}

.abt-cnt .form {
	height: 60vh;
    overflow-y:scroll;
}

.form form {
    width: 90%;
    margin: auto;
}

.abt-cnt .form-group {
	margin-bottom: 10px;
}

.abt-cnt .radio {
	display: block;
}

.abt-cnt .radio label {
	font-size: 1.2em;
}
.abt-cnt .sub-header {
	  color: #44B6E7;
    border-bottom: 1px solid #44B6E7;
    width: 100%;
    font-size: 18px !important;
    font-weight: normal;
    margin: 20px 0px;
}
.action{
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	border-radius: 15px;
}
.question{
	font-size: 18px;
	color: black;
	font-weight: 200;
	padding-left: 15px;
	padding-bottom: 20px;
}



.abt-cnt .row {
		width: 90%;
    margin: auto;
}

.abt-cnt .row.button-grp > div {
    display: inline-block;
}

.right {
	float: right;
}
.radio-cnt {
        position: relative;
    top: 26px;
}

.u-title {
    float: right;
    font-size: 1.4em;
    margin-right: 50px;
}

.u-title span {
    font-weight: bold;
}
label {
    font-size: 1.2em;
    font-weight: normal;
}
input[type="text"],input[type="email"],input[type="number"]{
    margin-bottom: 0px;
    height: 30px;
    background-color: white;
    padding-top: 7px;
    /* margin-bottom: -3px; */
    padding-left: 0px;
    border: 1px solid #c3cace;
    color: black;
    font-size: 16px;
    font-weight: 100;
    padding-left: 5px;
    padding-bottom: 5px;
  }

	select{
	    margin-bottom: 0px;
	    height: 30px;
	    background-color: white;
	    /* margin-bottom: -3px; */
	    padding-left: 0px;
	    border: 1px solid #c3cace;
	    color: black;
	    font-size: 14px;
	    font-weight: 100;
	  }

  textarea:focus, input:focus, button:focus{
    outline: none;
    background-color:#fff !important;
  }

  .btn-custom {
    border-radius: 50px;
    border-color: #0ACE54;
    border-width:2px;
    font-size: 1.4em;
    color: #0ACE54 !important;
    width: 175px;
    margin-top: 15px;
    float: right;
    padding: 7px 16px;
  }

.your-health .row {
 margin-bottom: 20px;
 margin-right: -15px;
    margin-left: -15px;
}

.your-health .row p {
    font-size: 1.3em;
}

.answer{
	padding-left: 30px;
	color: black;
	font-weight: 200;
}

.radio-g {
    width: 90%;
    margin: auto;
}
  .bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 5px 0;margin-left: 16% !important;
    margin-top: 5px !important;margin-bottom: 0 !important;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: rgba(27,188,156,1);font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute;width: 20px;height: 20px;display: block;background: #1EAF77;top: 17px;left: 50%;margin-top: -15px;margin-left: -15px;border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {/* content: ' '; */width: 14px;height: 14px;background: #fbbd19;border-radius: 50px;position: absolute;top: 8px;left: 8px;}
.bs-wizard > .bs-wizard-step > .progress {position: relative;border-radius: 0px;height: 5px;box-shadow: none;margin: 10px 0;background: #fff;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #1EAF77;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }


.lbl_text{
	font-size: 14px;
}

.app_info{
	color: orange;
	font-size: 16px;
	font-style: italic;
	border-bottom: 1px solid rgba(128, 128, 128, 0.33);
	padding-bottom: 20px;
}
.beneficiary_box{
	margin-top: 20px;
	border: 1px solid rgba(128, 128, 128, 0.33);
	width: 70%;
	margin-left: 20px;
	box-shadow: 5px 5px 5px #CCCCCC;
	border-radius: 3px;
}

.beneficiary_header{
	height: 50px;
	background-color: #2faee4;
	color: white;
	padding-left: 0px;
	margin-left: 0px !important;
	margin-right: 0px !important;
	width: 100% !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 300;
}
.c_beneficiary_header{
	height: 50px;
	background-color: #1aa67c;
	color: white;
	padding-left: 0px;
	margin-left: 0px !important;
	margin-right: 0px !important;
	width: 100% !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 300;
}

.beneficiary_content{
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
.add_b{
	font-size: 14px;
	font-weight: 300;
	width : 250px;
	height : 40px;
	margin-top: 15px;
	border-radius: 20px;
	border: 1px solid #2faee4;
}
button:focus {outline:0 !important;}
.bottom-border{
	border-bottom: 1px solid rgba(204, 204, 204, 0.73)
}

.row_content{
	display: flex;
	flex-direction:row;
	align-items: center;
}
.color1{
	color: #2faee4;
}
.color2{
	color: #1aa67c;
}
.bgcolor2{
	background-color: #1aa67c;
}
.c_text{
    width: 80%;
    margin-right: 5px;
}
.c_row{
    display: flex;
    flex-direction: row;
}
.button1{
	width:200px;
}
.abt{
	background: #BCCED9;
}
.abt1{
	background-color: white;
	margin-top: 20px;
}
.review_box{
	height: 400px;
}
.s_msg{
	font-size: 24px;
	font-weight: 600;
	padding-top: 50px;
	color: black;
}
.box1_header{
	background-color: #2e3e4f;
	height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.78);
	border-radius: 5px 5px 0 0;
}
.box1_content{
	padding-left: 10px;
}
.msg_box{
	height: 300px;
  box-shadow: 0px 3px 8px rgb(100,100,100);
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 5px 5px 0 0;
}
.box2{
	height: 303px;
  background: linear-gradient(-90deg, #0f9669, #15d999);
  display: flex;
  flex-direction: column;;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 21px;
}
.r1{
	border : 3px 0 0 0 solid black;
}
.small_title{
	color: #00a4e4;
	font-size: 14px;
}
.big_title{
	color: grey;
	font-size: 25px;
	font-weight: 200;
}
br {
   display: block;
   margin: 4px 0;
}
/*END Form Wizard*/
